<!DOCTYPE html>
<html ng-app="app14" ng-cloak>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 14</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
        </style>
    </head>

    <body>

        <div ng-controller="mainCtrl">
        
            <!-- Demonstrate $window -->
            <input type="text" ng-model="userName" />
            <button ng-click="greetUser(userName)">Hello</button>
            <br><br>

            <!-- Demonstrate $location -->
            <!-- basically location is a service that is going to provide access to the current url -->
            <!-- and can be used for navigation within the document and whole bunch of other different things  -->
            URL : {{currentURL}}
            <br><br>

            Protocol : {{theProtocol}}
            <br><br>

            Host : {{currentHost}}
            <br><br>

            Port : {{currentPort}}
            <br><br>

            Path : {{currentPath}}
            <br><br>

            Search : {{currentSearch}}
            <br><br>
        
            <!-- Updates time using $interval -->
            Current Time : {{time}}
            <br><br>

            <!-- The $log service -->
            <!-- log messages to the console for debugging mainly -->
            <!-- <label>Message : <input type="text" ng-model="message"/></label>
            <button ng-click="$log.log(message)">log</button>
            <button ng-click="$log.warn(message)">warn</button>
            <button ng-click="$log.info(message)">info</button>
            <button ng-click="$log.error(message)">error</button>
            <button ng-click="$log.debug(message)">debug</button> -->

            <!-- The $exceptionHandler service -->
            <!-- any uncaught exceptions are going to be delegated to our exception handler service -->
            <button ng-click="throwException()">Throw Exception</button>
            <br><br>

            <!-- Angular automatically replaces < and > that is entered by the user to keep them from entering dangerous HTML. <p onmouseover=alert('Doing Bad Stuff')>Do Bad Stuff</p> isn't displayed as HTML unless you use ng-bind-html, but even then onmouseover is stripped away. -->
            <input type="text" ng-model="badStuff"/>
            <br><br>
            <span>{{badStuff}}</span>
            <span ng-bind-html="badStuff"></span>
            <span ng-bind="badStuff"></span>
            <br>

            <!-- $compile service -->
            <p get-player-info></p>


        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

        <!-- Used to allow some HTML to avoid sanitization -->
        <script src="http:////ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-sanitize.js"></script>

        <script src="js/example14.js"></script>
    </body>

</html>