<!DOCTYPE html>
<html ng-app="app15" ng-cloak>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 15</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display : none; }
        </style>
    </head>
    
    <body>

        <div ng-controller="mainCtrl">

            <button ng-click="getData()">Get Data</button>
            <br><br>

            <!-- Display raw JSON -->
            {{players}}

            <!-- Put JSON in a list -->
            <ul>
                <li ng-repeat="player in players">{{player.name + " hit " + player.hr + " Home Runs"}}</li>
            </ul>
            <br><br>

            <!-- use web translation web service -->
            Translate :
            <input type="text" ng-model="wordsToTranslate"/>
            <br><br>

            <!-- take the words that are input translate them into multiple other different languages  -->
            <!-- and then output them directly on the screen -->
            <button ng-click="translate()">Translate</button>
            <br><br>
            {{translated}}

        </div>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="js/example15.js"></script>
    </body>

</html>