<!DOCTYPE html>
<html ng-app="app5" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 5</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
            table { width: 480px; text-align: left; border: 2px solid #000000; padding: 10px; }

            /* whenever an input box element is edited in some way
                it is going to change ng.dirty to true */
            /* change the style of the input if ng-dirty is indeed true 
                and the information inside of it is also considered invalid */
            input.ng-dirty.ng-invalid { border-color: red; }
        </style>
    </head>
    <body>

        <div ng-controller="groceryListCtrl">

            <h3>Grocery List</h3>

            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Purchased</th>
                    </tr>
                </thead>
                <tr ng-repeat="grocery in groceries">
                    <td>{{grocery.item}}</td>

                    <!-- Bind the checkbox to the data model -->
                    <td><input type="checkbox" ng-model="grocery".purchased/></td>
                </tr>
            </table>

            <br>

            <!-- User enters a new item and when the button is clicked the value in the input box is added to the array -->
            <!-- allow the user to enter in new information -->
            <label>New Item : 
                <input type="text" ng-model="newItem"/>
            </label>
            <button ng-click="addItem(newItem)">Add Item</button>

            <h4>{{missingNewItemError}}</h4>

        </div>  <!-- End of grocertyListCtrl -->

        <div ng-controller="userCtrl">

            <!-- Pass the user data to saveUser() -->
            <form name="userForm" ng-submit="saveUser(userInfo)">

                <label>First Name : </label>

                <!-- Define that a value is required and it must be 2 characters in length or more -->
                <input type="text" name="firstName" ng-model="userInfo.firstName" ng-required="true" ng-minlength="2"/>

                <!-- $dirty is set to true if a user interacts with a element and then we check if the elements required field is true -->
                <span class="error-message" ng-show="userForm.firstName.$dirty && userForm.firstName.$error.required">Must Enter a First Name</span>
                <!-- ng-show : show the error message -->
                <!-- userForm : defined form -->
                <!-- $$dirty : which means that it has been entered -->
                <!-- $error.required : if it's required piece of data that we need -->

                <!-- Check if the element has been edited and whether it contains at least 2 characters -->
                <span class="error-message" ng-show="userForm.firstName.$dirty && userForm.firstName.$error.minlength">
                    Must be a Minimum of 2 Characters
                </span>
                <br><br>

                <label>Last Name : </label>
                <input type="text" name="lastName" ng-model="userInfo.lastName" ng-required="true" ng-minlength="2"/>
                <span class="error-message" ng-show="userForm.lastName.$dirty && userForm.lastName.$error.required">Must Enter a First Name</span>
                <span class="error-message" ng-show="userForm.lastName.$dirty && userForm.lastName.$error.minlength">Must be a Minimum of 2 Characters</span>
                <br><br>

                <!-- validation for the street -->
                <label>Street : </label>
                <input type="text" name="street" ng-model="userInfo.street" ng-required="true" ng-minlength="6" ng-pattern="/^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/" />
                <span class="error-message" ng-show="userForm.street.$dirty && userForm.street.$invalid">Must Enter a Number, Street and Street Type (ex. 123 Main St.)</span>
                <br><br>

                <label>Subscribe : </label>
                <input type="checkbox" name="subscribe" ng-model="userInfo.subscribe" ng-true-value="'Subscribe'" ng-false-value="'Don\t Subscribe'"/>
                <br><br>

                <label>Delivery Method : </label>
                <select name="delivery" ng-model="userInfo.delivery" ng-required="true">
                    <option value="Email">Email</option>
                    <option value="Mail">Mail</option>
                </select>
                <br><br>

                <!-- Disable the button until every element in the form is valid -->
                <input type="submit" value="Save" ng-disabled="userForm.$invalid"/>

                <!-- Output new users -->
                <ul>
                    <li ng-repeat="item in user">
                        {{'User : ' + item.firstName + " " + item.lastName + " " + item.street + " " + item.subscribe + " " + item.delivery}}
                    </li>
                </ul>
            </form>

        </div>  <!-- End of userCtrl -->
        


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example5.js"></script>
    </body>
</html>