<!DOCTYPE html>
<html ng-app="app6" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 6</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
        </style>
    </head>
    <body>
        <div ng-controller="heroCtrl">

            <!-- Demonstrating how to use $rootScope to share data between 2 controllers -->
            <label>Hero to Search for : </label>
            <input type="text" ng-model="heroName"/>
            <br><br>

            <button ng-click="getHeroData()">Submit</button>
            <br><br>

            {{heroData}}
            <br>

        </div>

        <div ng-controller="heroCtrl">

            <label>Hero Name : </label>
            <input type="text" ng-model="heroName"/>
            <br><br>

            <label>Real name : </label>
            <input type="text" ng-model="realName"/>
            <br><br>

            <button ng-click="addHeroData(realName, heroName)">Add Hero</button>

        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example6.js"></script>
    </body>
</html>