<!DOCTYPE html>
<html ng-app="app7" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 7</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
        </style>
    </head>
    <body>

        <!-- Demonstrating how to use controller inheritance -->
        <div ng-controller="mainCtrl as parent">

            <!-- Display parent data -->
            <p>Name : {{parent.name}}</p>
            <p>Sound : {{parent.sound}}</p>
            <button ng-click=parent.animalClick()>Animal Data</button>
            <br>
            
        </div>

        <div ng-controller="dogCtrl as dog">
            <p>Name : {{dog.child.name}}</p>
            <p>Sound : {{dog.child.sound}}</p>

            <!-- Call the parent method using the dog fields -->
            <button ng-click=dog.child.animalClick()>Dog Data</button>
            <br>

            <!-- Call the dog method specific to dog controller -->
            <button ng-click=dog.child.dogData()>More Dog Data</button>
            <br>

            <!-- Change a field value -->
            <input ng-model="dog.child.bark"/>
            <br>
            <span>New Bark : {{dog.child.bark}}</span>
            

        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example7.js"></script>
    </body>
</html>