<!DOCTYPE html>
<html ng-app="app8" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 8</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
        </style>
    </head>
    <body>

        <!-- filters allow to transform data into view without altering it in the scope -->
        <!-- Filters transform data in the view without altering it in the scope using the pipe character -->
        <div ng-controller="mainCtrl">

            <!-- Uppercase -->
            <!-- convert whatever data to upper case -->
            <label>Make Uppercase : </label>
            <input type="text" ng-model="name">
            <p>Uppercase : {{name | uppercase}}</p>

            <!-- Lowercase -->
            <p>Lowercase : {{name | lowercase}}</p>

            <!-- Currency Filter -->
            <label>Currency Filter : </label>
            <input type="text" ng-model="money">
            <p>Currency : {{money | currency}}</p>
            <br><br>

            <label>Student GPA : </label>
            <!-- Filter filter -->
            <!-- Change the order direction by putting gpa -->
            <ul>
                <li ng-repeat="student in student.gpas | filter: studentName | orderBy:'gpa'">
                    {{'Name : ' + student.name + ' , GPA : ' + student.gpa}}
                </li>
            </ul>

            <ul>
                <!-- add negative sign for opposite order -->
                <li ng-repeat="student in student.gpas | filter: studentName | orderBy:'-gpa'">
                    {{'Name : ' + student.name + ' , GPA : ' + student.gpa}}
                </li>
            </ul>
            <br><br>

            <!-- Number Filter -->
            <label>Number Filter : </label>
            <input type="text" ng-model="numVal">
            <p>Default : {{numVal | number}}</p>
            <p>No Fractions : {{numVal | number:0}}</p>
            <p>Negative 4 Decimal : {{-numVal | number:4}}</p>
            <br><br>

            <!-- Date Filter https://docs.angularjs.org/api/ng/filter/date -->
            <label>Date Filter : </label>
            <p>Date 1 : {{currDate | date: 'medium'}}</p>
            <p>Date 2 : {{currDate | date: "MM/dd/yyyy 'at' h:mma"}}</p>

            <!-- LimitTo Filter -->
            <!-- limit strings, arrays -->
            <label>LimitTo Filter : </label>
            <p>Default : {{randomStr}}</p>
            <p>10 Characters : {{randomStr | limitTo:10}}</p>
            <p>Limit Array : 
                <ul>
                    <li ng-repeat="item in randArray | limitTo:3">
                        {{item}}
                    </li>
                </ul>
            </p>

            <!-- weather filter -->
            <!-- Custom Filter -->
            <!-- Different unicode characters are returned based on if item.rain has the value of true or false -->
            <label>Custom Filter : </label>
            <p>
                <ul>
                    <li ng-repeat="item in weather">
                        {{item.day + " : "}} {{item.rain | raining}}
                    </li>
                </ul>
            </p>


        </div>
        


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example8.js"></script>

        <!-- Needed for custom Filter -->
        <script src="js/filters.js"></script>
    </body>
</html>