<!DOCTYPE html>
<html ng-app="app9" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 9</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloack { display: none; }
            .thick { font-weight: bold; }
        </style>
    </head>
    <body>

        <!-- How to modify, set, get attributes, set attributes, get values, set values for HTML elements -->

        <div ng-controller="mainCtrl">

            <ul jql-directive>

                <li id="barry">Barry Bonds</li>
                <ul>
                    <li>AVG : .298</li>
                    <li>HR : 762</li>
                    <li>OBP : .444</li>
                </ul>

                <li id="hank">Hank Aaron</li>
                <ul>
                    <li>AVG : .305</li>
                    <li>HR : 755</li>
                    <li>OBP : .374</li>
                </ul>

                <li id="babe">Babe Ruth</li>
                <ul>
                    <li>AVG : .342</li>
                    <li>HR : 714</li>
                    <li>OBP : .474</li>
                </ul>

            </ul>

            <!-- list of children elements -->
            <h4>Children in List</h4>

            <!-- span to list all those children -->
            <span id=childrenList></span>
            <br><br>

            Barry's Number : <span id="barrhsNumber"></span>
            <br><br>

            Is Hank Bold : <span id="hankBold"></span>
            <br><br>

            Barry's ID : <span id="barryID"></span>
            <br><br>

            <button ng-click="unBold()">Toggle Bold</button>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example9.js"></script>
    </body>
</html>