<!DOCTYPE html>

<!-- Define the ng-app parameter in the root element so AngularJS
knows where to begin compiling. app1 is the module name and is referenced
in the JS file we will create -->

<!-- ng-init is a directive that initializes application data by assigning
variable values -->
<html ng-app="app1" ng-init="person = {firstName : 'Leo', lastName : 'Messi'}; capitals = [{city: 'Montgomery', state: 'Alabama'}, {city: 'Jeneau', state: 'Alaska'}, {city: 'Phoenix', state: 'Arizona'}]">

<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>Angular JS Beginning</title>
</head>

<body>

    <!-- Adds a controller that the Angular module will control.
    The view is the div element and all that it contains. 
    The $scope component is used to provide data to the view. -->
    <div ng-controller="ctrl1">

        <span>Values : </span>

        <!-- Define 2 elements that will be bound to the first and second values in the scope using the ng-model directive. 
        If either value changes here it will change in the scope and vice versa -->
        <input type="text" ng-model="first"/>
        <input type="text" ng-model="second"/>

        <!-- Bind a click on this button to the function updateValue using ng-click -->
        <button ng-click="updateValue()">Sum</button>
        <br><br>

        <!-- Displays the Scope value of calculation in the expression-->
        {{calculation}}

        <!-- You can perform calculations in expressions -->
        <p>▶ Perform calculations in expressions input "5 + 5" inside double bracket
            <br>
            ==> 5 + 5 = {{5 + 5}}</p>

        <!-- Expressions bind data to HTML as well -->
        <!-- so not going to have to use ng-model with an expression -->
        <p>▶ Expressions bind data to HTML as well so no need to use ng-model with an expression
            <br>
            ==> Your first value is {{first}}</p>

        <!-- You can do the same with another directive called ng-bind -->
        <p>▶ Use another directive called ng-bind to bind data
            <br>
            data-ng-bind="second"
            <br>
            ==> Your second value is 
            <span data-ng-bind="second"></span>
        </p>

        <!-- Strings can be built in expressions -->
        <p>▶ Strings can be built in expressions 
            <br>
            "person.firstName + person.lastName" you entered "first + and + second"
            <br>
            ==> {{person.firstName + " " + person.lastName}} you entered {{first + " and " + second}}</p>
        
        <!-- ng-repeat cycles through a collection -->
        <p>▶ ng-repeat cycles through a collection            
            <ul>
                <li ng-repeat="capital in capitals">
                    {{'City : ' + capital.city + ', State : ' + capital.state}}
                </li>
            </ul>
        </p>
    </div>
    
    <!-- Load the AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>

    <!-- Load the JS Module -->
    <script src="js/example1.js"></script>
</body>

</html>