<!DOCTYPE html>
<html ng-app="app2">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example2</title>
    </head>
    <body>
        <!-- You can create multiple views that use the same controller -->
        <h3>Random Number Control</h3>
        <h4 ng-controller="ctrl1">First Random Number : {{randomNumber1}}</h4>
        <h4 ng-controller="ctrl1">Second Random Number : {{randomNumber2}}</h4>
        <hr>
        <h3>Mood Control</h3>        
        <h4 ng-controller="badMoodCtrl">I'm feeling {{bad}}</h4>
        <h4 ng-controller="goodMoodCtrl">I'm feeling {{good}}</h4>

        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example2.js"></script>
    </body>
</html>