<!DOCTYPE html>

<html ng-app="app4" ng-cloak>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Angular JS Example 4</title>

        <style>
            [ng\:cloak], [ng-cloak], .ng-cloak { display: none; }
            .blueText { color: blue; }
            .boldText { font-weight: bold; }
            .stripedBlue { color: #007FFF; background-color: #DBE9F4; }
            .stripedBeige { color: #CC0000; background-color: #F5F5DC; }
        </style>
    </head>
    <body>

        <!-- AngularJS can respond to events -->
        <div ng-controller="eventCtrl">

            <!-- ng-change requires ng-model -->
            <!-- first target ng-blur event which would occur any time the user would go inside of an input box  and then leave -->
            <!-- when ever that occurs take the value from ng-blur and increment it by one -->
            <input ng-blur="blur = blur + 1"
            ng-click="click = click + 1"
            ng-dblclick="dblclick = dblclick + 1"
            ng-copy="copy = copy + 1"
            ng-paste="paste = paste + 1"
            ng-cut="cut = cut + 1"
            ng-focus="focus = focus + 1"
            ng-model="confirmed"
            ng-change="change = change + 1"
            ng-keydown="keydown($event)"
            ng-mouseenter="mouseenter = mouseenter + 1"
            ng-mouseleave="mouseleave = mouseleave + 1"/>

            <h4>Blur Events : {{blur}}</h4>
            <!-- now to the JavaScript file -->
            <h4>Click Events : {{click}}</h4>
            <h4>Double Click Events : {{dblclick}}</h4>
            <h4>Copy Events : {{copy}}</h4>
            <h4>Paste Events : {{paste}}</h4>
            <h4>Cut Events : {{cut}}</h4>
            <h4>Focus Events : {{focus}}</h4>
            <h4>Change Events : {{change}}</h4>

            <h4>Key Pressed : {{kdKey}}</h4>

            <h4>Mouse Enter Events : {{mouseenter}}</h4>
            <h4>Mouse Leave Events : {{mouseleave}}</h4>


            <!-- We can disable and inable elements -->
            <p>
                <button ng-disabled="disableButton">Button</button>
            </p>

            <p>
                <input type="checkbox" ng-model="disableButton">DisableButton
            </p>

            <!-- We can hide and show elements -->
            <p>
                <input type="checkbox" ng-model="dayTimeButton">Morning
            </p>

            <p ng-hide="!dayTimeButton">Good Morning</p>
            <p ng-hide="dayTimeButton">Good Evening</p>

            <!-- We can dynamically change a class -->
            <p>
                <select ng-model="textStyling">

                    <!-- change the class of an element using the select box -->
                    <option value="blueText">Blue Text</option>
                    <option value="boldText">Bold Text</option>
                </select>
            </p>
            <p ng-class="textStyling">Some Random Text</p>


            <!-- We can bind classes on even elements with ng-class-even and/or ng-class-odd -->
            <table>
                <tr ng-repeat="item in capitals" ng-class-even="'stripedBlue'" ng-class-odd="'stripedBeige'">
                    <td>{{item.City}}</td>
                    <td>{{item.State}}</td>
                </tr>
            </table>

        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/example4.js"></script>
    </body>
</html>